<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" routerLink="/dashboard">
        <img src="https://lh3.googleusercontent.com/p/AF1QipNi_oPiMYvA2NSrVT0_nGi4xCfo2es_xAXdlVgR=s1360-w1360-h1020" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        Visual ACE Business Solution
      </a>
      <!-- Toggle button for mobile view -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" routerLink="/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/employee">Employee</a>
          </li>
        
          
        </ul>
        <!-- Right-aligned section: User name and Log off button -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item d-flex align-items-center">
            <span class="navbar-text me-2 text-dark">Welcome, {{loggedUserData.emailId}}</span>
            
            <button class="btn btn-warning btn-sm" type="button" (click)="onLogoff()">Log off</button>

          </li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>